<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Historia de PEAC</h2>
                    <h3 class="section-subheading text-muted">La breve línea de tiempo que se presenta a continuación, da cuenta de la amplia trayectoria y reconocimiento editorial que la Asociación Mexicana de Profesionales a la Edición AC ha ido construyendo.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>11 de diciembre, 1993</h4>
                                    <h4 class="subheading">Fundación de PEAC</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">La Asociación Mexicana de Profesionales de la Edición AC se constituye.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1997</h4>
                                    <h4 class="subheading">Meriendas editoriales</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Cinco Meriendas editoriales en la Ciudad de México con los temas: «La profesionalización y el espíritu de grupo», con Ricardo Velázquez, director general de la Cruz Roja Mexicana; «Importancia de las redes de trabajo», con Mario Garnier, presidente de la Federación de Colegios Particulares de Educación Superior; «Problemática editorial a finales del siglo XX», con Consuelo Sáizar, editora de Hoja Casa Editorial; «Los consumidores y la calidad editorial», con Matilde Schoenfeld, directora editorial de Editorial Pax México; y «La traducción profesional con Dorothea Hemmerling», perito traductor de alemán, inglés y español.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1999</h4>
                                    <h4 class="subheading">Artesanía de escribidores</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Curso magistral impartido por el Raúl Prieto Río de la Loza (Nikito Nipongo) en la Ciudad de México.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>16 de noviembre, 2007</h4>
                                    <h4 class="subheading">Día del Corrector de Estilo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Primer festejo del Día del Corrector de Estilo en el Club Primera Plana de periodistas en la Ciudad de México.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009</h4>
                                    <h4 class="subheading">Primera generación del Diplomado en Corrección Profesional de Estilo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Diplomado avalado por la Universidad Nacional autónoma de México.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011</h4>
                                    <h4 class="subheading">Academia de las Artes de la Escritura (AAE)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nace la Academia de las Artes de la Escritura (AAE) con la segunda generación del Diplomado en Corrección Profesional de Estilo, avalado por la UNAM.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>¡Sé parte
                                    <br>de nuestra
                                    <br>historia!
                                  </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
